{% extends 'base.html' %}

{% block content %}
<h1 class="mb-3">Сменить пароль</h1>

<form method="POST">
    <div class="mb-3">
        <label for="old_password" class="form-label">Старый пароль</label>
        <input type="password" name="old_password" id="old_password" class="form-control {% if form_errors['old_password'] %}is-invalid{% endif %}">
        {% if form_errors['old_password'] %}
        <div class="invalid-feedback">
            {{ form_errors['old_password'] }}
        </div>
        {% endif %}
    </div>

    <div class="mb-3">
        <label for="new_password" class="form-label">Новый пароль</label>
        <input type="password" name="new_password" id="new_password" class="form-control {% if form_errors['new_password'] %}is-invalid{% endif %}">
        {% if form_errors['new_password'] %}
        <div class="invalid-feedback">
            {{ form_errors['new_password'] }}
        </div>
        {% endif %}
    </div>

    <div class="mb-3">
        <label for="confirm_password" class="form-label">Подтвердите новый пароль</label>
        <input type="password" name="confirm_password" id="confirm_password" class="form-control {% if form_errors['confirm_password'] %}is-invalid{% endif %}">
        {% if form_errors['confirm_password'] %}
        <div class="invalid-feedback">
            {{ form_errors['confirm_password'] }}
        </div>
        {% endif %}
    </div>

    <button type="submit" class="btn btn-primary">Сменить пароль</button>
</form>

{% endblock %}
